@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Nunito:wght@200&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #f5fdc6 ;
  --secondary-color: #f5c396 ;
  --accent1-color: #D0B17A;
  --accent2-color: #a89f68;

  /* change the values below to your chosen font(s) */
  --heading-font: "Charis SIL", serif;
  --paragraph-font: "Nunito", sans-serif;
}
body {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    background-color: #f5fdc6;
}
header{
    background-color: #a89f68;
    padding: 25px;
}
p{
    max-width: 1000px;
    text-align: center;
    margin-left: 100px;
}
.pages{
    background-color: #D0B17A;
    border: 3px black;
    font-size: 40px;
    margin: 20px;
}
nav{
    margin-top: 50px;
    grid-column: 2/3;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
aside{
    grid-column: 1/2;
    margin-top: 100px;
}
.social{
    align-items: right;
}